<header>
  <div class="activities">
    <img src="/agenda.svg" alt="">
  </div>
  <div class="headings">
    <h2>??????</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
    <a href="/" class="btn">uuu</a>
  </div>
</header>
